*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: aqua;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 80vh;
    background-color: black;

}

.item{
    background-color: blue;
    border: solid 1px #999;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    color: white;
}