.container{

    display: grid;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 80px 1fr 60px;
    height: 100vh;
}


header{
    grid-area: header;
    background-color: aquamarine;
}

nav{
    grid-area: nav;
    background-color: blue;
}
main{
    grid-area: main;
    background-color: yellow;
}

aside{
    grid-area: aside;
    background-color: rgb(79, 182, 27);
}

footer{
    grid-area: footer;
    background-color: cyan;
}